@model IEnumerable<Retail_Data_Tracker.Models.Client>

@{
    ViewData["Title"] = "Client List";
}

<div>
    <h2>Clients</h2>

    <table>
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Order</th> @*TODO: Click on order to view the client's order details on another view*@
            </tr>
        </thead>

        <tbody>
            @foreach (Retail_Data_Tracker.Models.Client s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Address</td>
                    <td>@s.Description</td>
                    <td>@s.ClientOrder</td> @*TODO: This cell should be clickable*@
                </tr>
            }
        </tbody>
    </table>
</div>