@model IEnumerable<Retail_Data_Tracker.Models.Item>

@{

    Layout = null;

}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Inventory</title>
    </head>
    <body>
        <div class="panel-body">
            <h2>Current Inventory</h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Buy Cost</th>
                        <th>Sell Cost</th>
                        <th>Supplier</th>
                        <th>Add to invoice</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Retail_Data_Tracker.Models.Item i in Model) {
                    <tr>
                        <td>@i.Name</td>
                        <td>@i.Quantity</td>
                        <td>@i.BuyCost</td>
                        <td>@i.GetSupplier().Name</td>
                        <td>@i.SellCost</td>
                        <td>
                            @Html.CheckBoxFor(m => i.IsChecked)
                            <input type="number" min="0" max={@i.Quantity}/>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="CreateInvoice">Create invoice</button>
                <button type="submit" class="btn btn-danger" name="OrderFromSupplier">Order from supplier</button>
            </div>
            @* todo: create controller class to direct these buttons properly *@
            @* todo: create invoice creation form for clients that CreateInvoice button leads to*@
        </div>
    </body>
</html>