@model IEnumerable<Retail_Data_Tracker.Models.Supplier>

@{
    ViewData["Title"] = "Supplier List";
}

<div>
    <h2>Suppliers</h2>

    <table>
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Inventory</th> @*TODO: Click on inventory to view the supplier's inventory details on another view*@
            </tr>
        </thead>

        <tbody>
            @foreach (Retail_Data_Tracker.Models.Supplier s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Address</td>
                    <td>@s.Description</td>
                    <td>@s.SupplierInventory</td> @*TODO: This cell should be clickable*@
                </tr>
            }
        </tbody>
    </table>
</div>