@model List<Retail_Data_Tracker.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Items", FormMethod.Post))
{
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ItemDesc
            </th>
            <th>
                Quantity
            </th>
            <th>
                BuyCost
            </th>
            <th>
                SellCost
            </th>
            <th>
                ItemSupplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Count; i++) {
        <tr>
            <td>
                @Html.DisplayFor(m => m[i].Name)
                @Html.HiddenFor(m => m[i].Name)
            </td>
            <td>
                        @Html.DisplayFor(m => m[i].ItemDesc)
                        @Html.HiddenFor(m => m[i].ItemDesc)
            </td>
            <td>
                        @Html.DisplayFor(m => m[i].Quantity)
                        @Html.HiddenFor(m => m[i].Quantity)
            </td>
            <td>
                        @Html.DisplayFor(m => m[i].BuyCost)
                        @Html.HiddenFor(m => m[i].BuyCost)
            </td>
            <td>
                        @Html.DisplayFor(m => m[i].SellCost)
                        @Html.HiddenFor(m => m[i].SellCost)
            </td>
            <td>
                        @Html.DisplayFor(m => m[i].ItemSupplier.Name)
                        @Html.HiddenFor(m => m[i].ItemSupplier.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
            </td>
                <td>
                        @Html.CheckBoxFor(m => m[i].IsChecked)
                        @Html.HiddenFor(m => m[i].Id)
                </td>
                <td>
                        @Html.TextBox("Quantity", 1, new { type = "number", min = 1, max = Model[i].Quantity, name = $"Model[{i}].Quantity" })
                </td>
        </tr>
}
    </tbody>
</table>
<br />
    <button class="btn btn-primary" name="submitButton" value="invoiceSubmit">Create invoice</button>
    <button type="submit" class="btn btn-danger" name="submitButton" value="orderFromSupplier">Order from supplier</button>
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
<div class="form-group">

</div>
