@model IEnumerable<Retail_Data_Tracker.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemSupplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemSupplier.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="number" min="0" max={@item.Quantity} />
                </td>
        </tr>
}
    </tbody>
</table>
<div class="form-group">
    <button type="submit" class="btn btn-primary" name="CreateInvoice">Create invoice</button>
    <button type="submit" class="btn btn-danger" name="OrderFromSupplier">Order from supplier</button>
</div>
