@model List<Retail_Data_Tracker.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<table class="table">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                Client Name
            </th>
            <th>
                Type
            </th>
            <th>
                Tracking Number
            </th>
            <th>
                Order Date
            </th>
            <th>
                Items
            </th>
            <th>
                Order Total
            </th>
            <th>
                Shipping Date
            </th>
            <th>
                Arrival Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++){
        <tr>
            <td>
                @Html.DisplayFor(m => m[i].Id)
            </td>
            <td>
                    @Html.DisplayFor(m => m[i].OrderClient.Name)
            </td>
            <td>
                    @if (Model[i].OrderType == OrderType.Retailer)
                    {
                        <p>Outbound</p>
                    }
                    else if (Model[i].OrderType == OrderType.Supplier)
                    {
                        <p>Inbound</p>
                    }
            </td>
            <td>
                    @Html.DisplayFor(m => m[i].TrackingNumber)
            </td>
            <td>
                    @Html.DisplayFor(m => m[i].OrderDate)
            </td>
            <td>
                <a asp-action="ItemDetails" asp-route-id="@Model[i].Id">View</a>
            </td>
            <td>
                    @(Model[i].OrderTotal.ToString("C2"))
            </td>
            <td>
                    @Html.DisplayFor(m => m[i].ShippingDate)
            </td>
            <td>
                    @Html.DisplayFor(m => m[i].ArrivalDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model[i].Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
